/lib
.DS_Store
.settings/language.settings.xml
.idea/
.vscode
cmake-build-debug/
app/android/.classpath
app/android/.project
app/android/AndroidManifest.xml
app/android/res/raw/
compile_flags.txt
tags
build_*
*.bak

# CMake build artifacts
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*_export.h
detect_cuda_compute_capabilities.cu
detect_cuda_version.cc
